---
---

body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #555;
}


a {
  color: black;
}


body > * {
  max-width: 600px;
  margin: 4rem auto;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

footer {
  border-top: 1px solid #eee;
  color: #ddd;
  a {
    color: #ddd;
  }
  margin-top: 6rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 0.875em;
}

header {
  nav {
    a {
      color: #999;
      display: inline-block;
      border-radius: 2px;
      height: 2em;
      line-height: 2em;
      padding: 0 1em;
      text-decoration: none;
      background: #fafafa;
      &:hover {
        background: #f0f0f0;
      }

      &.active {
        color: black;
        background: #eee;
      }
    }
  }
  label {
    display: block;
    margin-top: 0.6em;
    font-size: 0.8em;
  }
}


hr {
  display: block;
  border: none;
  height: 1px;
  background: #eee;
}

main[aria-busy="true"] {
  opacity: 0.4;
}
